ul {
    
    background-color: #363434;
    list-style-type: none;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: -10px;
    margin-left: -10px;
    


  }
 
  header {
      position:fixed;
      top: 20px;
      left: 80px;
      color: white;
      font-family: Brush Script MT;
      font-size: 35px;
      font-weight: bold;
  }
.square {
    height: 35px;
    width: 35px;
    position:fixed;
    top: 25px;
    left: 35px;
    color: white;
    background-color: rgb(14, 170, 231);
  }


  li {
    float: right;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    
  }
  li:hover {
    background-color: rgb(14, 170, 231);
  } 
  img{
    
        width: 1900px;
        height: 1000px;
}
.text1 {
    position: absolute;
    top: 50%;
    left:55%;
    transform: translate(-50%, -50%);
    font-family: Brush Script MT;
    font-size: 300%;
    font-weight: bold;
    color: white;
}
.text2 {
    width: 1000px;
    position: absolute;
    top: 62%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family:Rockwell;
    font-size: 500%;
    font-weight: bold;
    color: white;
}

.yellow-square{
    width: 150px;
    height: 25px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Rockwell;
    font-size: 100%;    
    font-weight: bold;
    background-color: yellow;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;

}

	
@media (max-width: 850px) {
    li {
        float: right;
        padding: 20px;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 10px;
        font-weight: bold;
        
      }
      img{
        width: 860px;
        height: 600px;
}

.text1 {
    position: absolute;
    top: 50%;
    left:55%;
    transform: translate(-50%, -50%);
    font-family: Brush Script MT;
    font-size: 250%;
    font-weight: bold;
    color: white;
}
.text2 {
    width: 850px;
    position: absolute;
    top: 62%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family:Rockwell;
    font-size: 300%;
    font-weight: bold;
    color: white;
}


}

@media (max-width: 500px) {
    header {
        position:fixed;
        top: 16px;
        left: 20px;
        color: white;
        font-family: Brush Script MT;
        font-size: 20px;
        font-weight: bold;
    }
    li {
        float: right;
        padding: 10px;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 8px;
        font-weight: bold;
        
      }
      img{
        width: 510px;
        height: 500px;
}

.text1 {
    width: 650px;
    position: absolute;
    top: 30%;
    left:85%;
    transform: translate(-50%, -50%);
    font-family: Brush Script MT;
    font-size: 200%;
    font-weight: bold;
    color: white;
}
.text2 {
    width: 650px;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-family:Rockwell;
    font-size: 250%;
    font-weight: bold;
    color: white;
}
.yellow-square{
    width: 150px;
    height: 25px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Rockwell;
    font-size: 100%;    
    font-weight: bold;
    background-color: yellow;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;

}


}
